# ============================
#  PYTHON
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ============================
#  ENTORNOS DE DESARROLLO
# ============================
venv/
.env/
.idea/
.vscode/

# ============================
#  ARCHIVOS PRIVADOS Y SENSIBLES
# ============================

# NUNCA subir claves privadas o certificados
*.pem
*.crt
*.crt.pem
*.key
*.csr
*.csr.pem

# No subir claves AES cifradas ni firmas
*.sig
*.bin
*.enc

# ============================
#  DIRECTORIOS DE LA CA (sensibles)
# ============================

# NO subir nada generado por la CA
AC1/privado/
AC1/nuevoscerts/
AC1/solicitudes/
AC1/crls/

# No subir los ficheros dinámicos de la CA
AC1/ac1cert.pem
AC1/index.txt
AC1/index.txt.attr
AC1/index.txt.old
AC1/index.txt.attr.old
AC1/serial
AC1/serial.old

# PERMITIR subir SOLO la configuración de OpenSSL
!AC1/openssl_AC1.cnf

# ============================
#  ARCHIVOS DE DATOS DE LA APP
# ============================

# Archivo con los usuarios registrados (sensible)
jsons/users.json

# Directorio donde guardas archivos cifrados/descifrados
data/


